.page-container {
  padding-bottom: 80px;
}

.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.order {
  display: block;
  font-size: 14px;
  color: #666;
  background: #fff;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

.order__hd {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.order__hd:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  transform: scaleY(.3);
  background: #eaeaea;
}

.order__bd {
  padding: 15px 15px 0 15px;
}

.order__ft {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.order__title {
  font-weight: bold;
  color: #666;
  display: flex;
  align-items: center;
}

.order__strong {
  font-weight: none;
  margin: 0 3px;
}

.order__icon {
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

.order__date {
  color: #7e7e7e;
}

/* placeholder-empty */
.placeholder-empty {
  padding: 40px 0;
}

.placeholder-empty__icon {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.placeholder-empty__text {
  color: #888;
  font-size: 14px;
  text-align: center;
}

/* button */
.button-wrap {
  padding: 15px;
}

.button {
  line-height: 1.5;
  display: block;
  border: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(207, 162, 95, .58);
  background-image: -webkit-linear-gradient(47deg, #c89850, #e1c38c);
}

.button-tag {
  line-height: 1.5;
  border: 0;
  font-size: 12px;
  padding: 3px 10px;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(207, 162, 95, .58);
  background-image: -webkit-linear-gradient(47deg, #c89850, #e1c38c);
}

.button-warn {
  background: #E64340;
  box-shadow: 0 3px 5px rgba(230, 67, 64, .58);
  background-image: -webkit-linear-gradient(47deg, #E64340, #E64340);
}

.button-xx {
  padding: 5px 20px;
}

.cell {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cell:last-child {
  margin: 0;
}

.cell__text {
  color: #7e7e7e;
}


.item{
  display: block;
}
/* fade */
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all .3s ease-in;
}
